.superInput {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 5px 12px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.superInput:focus {
    width: 30%;
}

.errorInput {
    border: 3px solid lime;
    background: red;
}

.error {
    color: red;
}